<div class="mx-5 pt-5 flex flex-col gap-3">

  <div class="lg:w-1/3  md:w-1/2 w-full px-10 mx-auto">
    <img src="assets/logo-haibu.png" alt="">
  </div>
  <div class="rounded-md shadow-lg bg-white lg:w-1/3  md:w-1/2 w-full p-5 mx-auto">
    <div class=" flex flex-row">
      <input [(ngModel)]="search" placeholder="Buscar usuario"  class=" w-full  appearance-none    py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      <mat-icon *ngIf="search.length > 0" (click)="search = ''" class=" self-center text-gray-400 ">close</mat-icon>

    </div>
  </div>

  <div class="flex flex-col bg-white shadow-lg rounded-md lg:w-1/3  md:w-1/2 w-full p-5 mx-auto max-h-[calc(100vh-300px)]   overflow-y-auto ">
    <div *ngFor="let usuario of usuarios | filterUser:search" (click)="openCardUser(usuario)"
      class="odd:bg-gray-50 flex gap-3 items-center font-semibold text-gray-800 p-3 hover:bg-gray-100 rounded-md hover:cursor-pointer">
      <div class="flex flex-col">
        <div>
         {{ usuario.nombre}}  {{ usuario.apellido}}
        </div>
        <div class="text-gray-400 text-sm font-normal">
          +{{usuario.telefono}}
        </div>
      </div>
    </div>

  </div>
</div>
